.form {
    margin-top: 43.45px;
    .space {
        margin-top: 25px;
        display: flex;
        justify-content: end;
        margin-right: 10px
    }

    .center-btn {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}