.robot-container {
    height: 50px;
    width: 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid #D6D6D6;
    background-color: #F8F8F8;
    font-size: 10px;
    .check{
        display: flex;
        align-items: center;
        gap:5px
    }
    .img{
        height: 40px;
        width: 40px;
    }
}