@import "./mixin";

.myApp {
  @include themify() {
    background: themed("primary-background");
    color: themed("font-color");   
  }
}

.font-color {
  transition: all 0.5s ease-in-out;

  @include themify() {
  color: themed("font-color");
  }
}

.primary-color {
  transition: all 0.5s ease-in-out;

  @include themify() {
  color: themed("primary-color");
  }
}
