$light-primary-color: #6E0D88;
$dark-primary-color: black;

$light-secondary-color: #E1003E;
$dark-secondary-color: black;

$light-primary-background-color: #FFFFFF;
$dark-primary-background-color: black;

$light-secondary-background-color: #EFEFEF;
$dark-secondary-background-color: black;

$light-font-color: #000000;
$dark-font-color: #FFFFFF;

$light-divider-color: #707070;
$dark-divider-color: #FFFFFF;

$light-secondary-selected-color: #F7F7F7;
$dark-secondary-selected-color: #FFFFFF;

$light-secondary-not-selected-color: #F7F7F7;
$dark-secondary-not-selected-color: #FFFFFF;

$light-header-background-color: #EFEFEF;
$dark-header-background-color: #EFEFEF;


$xs-font: 12px;
$sm-font: 13px;
$rg-font: 14px;
$md-font: 15px;
$lg-font: 16px;
$xl-font: 20px;