.divider-container{
    display: flex;
    align-items: center;
    gap:15px;
    .text{
        color: #6E0D88;
        font-size: 16px;
    }
    .divider {
        height: 0.3px;
        width: 100%;
        background-color: #707070;
    }

    .text-lg{
        color: #000000;
    }

    .w-lg{
        width: 40%;
    }
}
