.button-container{
    padding: 0 31px 0 13px;
    height: 48px;
    border: 0.3px solid #707070;
    display: flex;
    gap: 12px;
    border-radius: 24px;
    align-items: center;
    .text{
        color: #707070;
        size: 16px;
    }
    .logo{
        height: 28px;
        width: 28px;
    }
}