@import "./theme/mixin";

@font-face {
  font-family: 'Avenir';
  src: local('./assets/fonts/Avenir Regular'), format('ttf');
};


body {
  margin: auto;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: $max-width;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2{
  margin: 0px;
}